mark {
	padding: 0 0.2rem;
	background: none;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1in' height='.5in' viewBox='0 0 300 150'%3E%3Cpath fill='#ECDB54' fill-opacity='90%' stroke='none' d='M12 48C12 50.09 11.79 54.99 12.6 56.72 15.59 63.18 26.09 56.64 33 63 30.84 63.18 23.05 63.87 21.8 65.02 18.02 67.88 21.29 76.35 21.8 80v6S40 87 40 87C39.93 88.88 40.06 91.04 38.98 92.69 37.51 94.93 35.15 94.75 32.59 96.2 28.33 98.61 26.87 102.22 27.34 107L30.02 123.41C31.82 125.75 40.01 127.95 43 128H87C88.08 121.56 91.16 121.8 97 122.04L109 123s19 0 19 0 54-1 54-1C194.58 121.97 188.42 119.03 201 119h42s15-1 15-1C259.53 109.1 266.01 113.37 270.4 109.15 272.61 107.03 272.3 100.85 272 98l8-1C280 94.1 280.26 88.55 279.26 86.02 276.49 78.98 264.63 76.88 258 76 265.15 69.19 276.4 73.03 274.85 62.04 274.47 59.35 273.73 58.85 272 57 281.68 53.77 281 54.28 281 44L258 42.38C250 40.84 251.48 38.03 235 38l-46 1S177 39.82 177 39.82 159 38 159 38s-31 0-31 0C116.9 38.02 120.16 39.4 113 40.67l-16 1.5S87 43.83 87 43.83 57 45 57 45s-25 3-25 3H12z'/%3E%3C/svg%3E");
	background-position: 0 50%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	background-repeat: no-repeat;
	background-size: cover;
}

