pre {
	@include shadow();
	code {
		font-size: $small;
	}
	background: $black2 !important;
	border-radius: 4px;
	margin-bottom: 1rem;
	padding: 1rem;
	overflow: scroll;
	border: 1px solid black;
}

p code  {
	color: $green;
}
