// -----------------------------
// Colours
// -----------------------------
$black:	 hsl(206, 6%, 15%);
$black2: darken($black, 5%);
$grey:	 hsl(200, 6%, 20%);
$white:	 hsl(0, 0%, 75%);
$red:		 hsl(0, 80%, 70%);
$pink:	 hsl(340, 50%, 80%);
$green:	 hsl(160, 50%, 50%);
$blue:	 hsl(200, 50%, 60%);
$cyan:	 hsl(175, 50%, 60%);
$yellow: hsl(45, 50%, 70%);
$purple: hsl(270, 50%, 80%);

$keyword: #8be9fd;


// Dark Theme
$background: $black;
$midground: $grey;
$foreground: $white;

// Light Theme
// $midground: $grey;
// $background: $white;
// $foreground: $black;

// Types
$color-tag: $blue;
$color-category: $yellow;
$color-series: $purple;
$color-link: $cyan;
$color-table: $white;
$color-code: $keyword;
$color-verbatim: $yellow;

// -----------------------------
// Size
// -----------------------------
$base-size: 1rem;
$title: $base-size * 4;
$h1: $base-size * 3;
$h2: $base-size * 1.5;
$h3: $base-size * 1.4;
$h4: $base-size * 1.3;
$h5: $base-size * 1.2;
$h6: $base-size * 1.1;
$p: $base-size;
$small: $base-size * 0.9;

// -----------------------------
// Weight
// -----------------------------
$base-weight: 400;
$bold: $base-weight * 2;
$normal: $base-weight;
$light: $base-weight * 0.5;
