{{ define "main" }}
<article class="post px-1">
    <header>
        <h1 class="text-shadow mt-0">{{ humanize .Title }}</h1>
        {{ partial "post-metadata.html" . }}
    </header>
    <section>
        {{ .Content }}
    </section>
    <footer class="info-text center mt-3">
        Comments? Contact me at
        {{ $email := .Site.Author.email }}
        {{ with .Params.Email }} {{ $email = . }} {{ end }}
        <a href="mailto:{{ $email }}?subject=COMMENT: {{ .Title }}">{{ $email}}</a>
    </footer>
</article>
{{ end }}
