a.spring {
	position: relative;
	overflow: hidden;
	text-decoration: none;
	color: $color-link;
	padding: 0 4px;
	text-shadow: 2px 2px $black;
	// text-shadow: 3px 3px darken($purple, 50%);;

	&.shadow {
		text-shadow: 4px 4px darken($purple, 50%);;
	}

	&::after {
		content: "";
		background: transparentize($color-link, 0.80);
		position: absolute;
		left: 12px;
		bottom: -4px;
		width: calc(100% - 8px);
		height: calc(100% - 8px);
		z-index: -1;
		transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
	}
	&:hover {
		color: $background;
		text-shadow: none;
	 &:after {
		 background: transparentize($purple, 0.4);
		 left: 0;
		 bottom: -1px;
		 width: 100%;
		 height: 100%;
		 transform: skew(.350rad);
		}
	}
}
